{{#resume.basics}}
  <section id="basics">
    <div class="alignleft">
      <div>
        {{#if location}}
          <div>
            {{location.region}},
            {{location.countryCode}}
          </div>
        {{/if}}
        {{#if email}}
          <div>
            <a href="mailto:{{email}}">{{email}}</a>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="aligncenter">
      <h1>{{name}}</h1>
    </div>
    {{#if profiles.length}}
      <div class="alignright">
        <div>
          {{#each profiles}}
            <div class="url">
              <a href="{{url}}" target="_blank">{{url}}</a>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </section>
{{/resume.basics}}