{{#if resume.education.length}}
<section id="education">
	<div class="title">
		<h2 class="title-text">Education</h2>
		<div class="title-divider"></div>
	</div>
	{{#each resume.education}}
	<div class="item">
		<strong class="course">
			{{#if studyType}}
			<span class="studyType">
				{{studyType}}
			</span>
			{{/if}}
			{{#if area}}
			<span class="area">
				{{area}}
			</span>
			{{/if}}
		</strong>
		{{#if institution}}
		<div class="institution">
			{{#if url}}
			<a href="{{url}}" target="_blank">{{institution}}</a>
			{{else}}
			{{institution}}
			{{/if}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}