{{#if resume.work.length}}
<section id="work">
	<div class="title">
		<h3 class="title-text">Work Experience</h3>
		<div class="title-divider"></div>
	</div>

	{{#each resume.work}}
	<div class="item">
		<div class="header">
			<div class="text-left">
				{{#if position}}
				<strong class="position">
					{{position}}
				</strong>
				{{/if}}
			</div>
			<div class="text-center">
				{{#if company}}
				<strong class="name">
					{{company}}
				</strong>
				{{/if}}
			</div>
			<div class="text-right">
				<strong class="date">
					{{#if startDate}}
					<span class="startDate">
						{{date startDate}}
					</span>
					{{/if}}
					{{#if endDate}}
					<span class="endDate">
						- {{date endDate}}
					</span>
					{{else}}
					<span class="endDate">
						- Present
					</span>
					{{/if}}
				</strong>
			</div>
		</div>
		{{#if summary}}
		<div class="summary">
			<p>{{{summary}}}</p>
		</div>
		{{/if}}
		{{#if highlights.length}}
		<ul class="highlights">
			{{#each highlights}}
			<li>{{{.}}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}